body { 
    background-color: #2e3233;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}  
    #after{
      content: "";
      display: block;
      width: 2px;
      height: 90px;
      background-color: rgb(168, 178, 209);
      margin: 0 auto;
        
    }

    .b{
      min-height: 80vh;
    }
    
    #imgBio{
      float: left;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      
    }
    #ss{
      float: left;
      display: block;
      margin-left: auto;
      margin-right: 0px;
      width: 50%;
    }

    #bioWords{
      width: 500px;
      float: right;
      text-align: left;
      margin-top: 10vh;
    }

    #side{
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: 40px;
        right: auto;
        z-index: 10;
        color: rgb(168, 178, 209);
    }

    .afterWords{
      content: "";
      display: block;
      background-color: rgb(168, 178, 209);
      opacity: .2;
    }

    li{
        list-style: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    a{
        color: white;
    }
    #header{
      max-width: 1000px;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      flex-direction: column;
      min-height: 90vh;
    }

    #aboutMe{
      color: #f8f8f8;
      font-weight: 200;
      position: relative;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      width: 100%;
      white-space: nowrap;
      font-size: 32px;
    }
    #bio{
      color: #f8f8f8;
      font-weight: 200;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: flex-start;
    }
    @import url('https://fonts.googleapis.com/css?family=Abel');




.card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  float: left;
  margin-top: 100px;
}
.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#242726, #242726);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.navbar-toggler-icon{
  width: 50px;
  height: 50px;
}
.navbar{
  width:100%;
  background-color: #2e3233;
}
.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);*/
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}



.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}


.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}


.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

button:hover{
  background-color:rgb(53, 151, 102);
  
}

#otherside{
  width: 40px;
  bottom: 0px;
  position: fixed;
  left: auto;
  right: 40px;
  z-index: 10;
  color: rgb(168, 178, 209);


}
    
  @media screen and (min-width: 300px) and (max-width: 1024px){
    #side{
      display: none;
    }

    #headerDrop{
      width: 200px;
    }

    #otherside{
      display: none;
    }

    #imgBio{
      float: none;
      width: auto;
    }

    #bioWords{
      width: auto;
      float: none;
      margin-top: 5vh;
    }

    .b{
      min-height: 50vh;
    }

    #ss{
      display: none;
    }
  }
